<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Login Admin</title>        
        <link rel="stylesheet" href="css/bootstrap.css"/>
    </head>
    <body>
<div class="text-center" style="margin-top: 170px">
	<h3>Login Admin</h3>
	<form class="form-group col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 alert alert-info" th:action="@{/hasil}" th:object="${adminmodel}" method="post" action="#">
		<div class="input-group" style="margin-bottom: 10px" >
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input type="text" class="form-control" placeholder="username" th:field="*{username}"/>
		</div>
		<div class="input-group" style="margin-bottom: 10px" >
		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			<input type="password" class="form-control" placeholder="password" th:field="*{password}"/>
		</div>
		<input type="submit" class="btn btn-primary" value="Login" name="login"/>
	</form>
	<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 alert alert-success">
	<h3>Admin yang sukses login</h3>
		<ul class="list-group" th:each="user : ${useryangtelahlogin}">
  			<li class="list-group-item" th:text="${user.nama}"></li>
		</ul>
	</div>
</div>
</body>
</html>